<div class="navbar">
  <ul>
    <li>
      <a class="" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="">
      <a class="" href="logout" (click)="logout()">Log out</a>
    </li>
    <li class="">
      <a class="" href="#">Disabled</a>
    </li>
    <li>
      <div *ngIf="userService.user" class="dropdown">
        <a href="">Hello {{userService.user.username}}</a>
        <div class="dropdown-content">
          <a routerLink="">1</a>
          <a routerLink="">2</a>
          <a routerLink="">3</a>
        </div>
      </div>
    </li>
  </ul>
  </div>
