.row {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-left: 195px;
  overflow: hidden;
  background-color: aqua;
  height: 300px;
}

.box {
  position: absolute;
  width: 33%;
  height: 33%;
  border: 15px solid red;
  outline: violet solid 5px;
  margin: 5px 5px 5px 5px;
}
